* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}
.App {
  height: 100vh;
  justify-content: center;
}

.home-button {
  position: absolute;
  top: 5rem;
  left: 1.5%;
  font-size: 110%;
}

.landing-page-button {
  position: absolute;
  top: 3.5%;
  left: 1.5%;
  font-size: 200%;
  font-weight: bold;
}