.create-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.patient-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 360px;
    height: 220px;
    padding: 10px;
    margin: 2px;
    border: 2px solid;
    border-radius: 20px;
    background-color: var(--section-bg-color);
}

.create-label {
    font-weight: bold;
    font-size: 110%;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    flex: 1;
    padding: 0 .5em;
    cursor: pointer;
    font-size: 1em;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    overflow: hidden;
    border-radius: 10px;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.select:hover::after {
    color: var(--secondary-color);
}

.assignment-title {
    width: 20em;
    height: 3em;
    line-height: 3;
}