.home-tab {
    margin-top: 10%;
}

.dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.dashboard-card {
    width: 300px;
    height: 160px;
    padding: 1em;
    margin: 0.1em;
    border: 2px solid var(--border-color);
    border-radius: 20px;
    background-color: var(--section-bg-color);
}

.dashboard-card:hover {
    border: 3px solid var(--primary-color);
}