.dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.dashboard-card {
    width: 300px;
    height: 150px;
    padding: 1em;
    margin: 0.1em;
    border: 2px solid white;
    border-radius: 10%;
}