.dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.dashboard-card {
    width: 300px;
    height: 160px;
    padding: 1em;
    margin: 0.1em;
    border: 2px solid;
    border-radius: 10% / 20%;
    background-color: #5A5A5A;
}