table {
    width: 100%;
    table-layout: fixed;
}

.tbl-header {
    background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
    overflow-x: auto;
}

.tbl-empty {
    display: none;
}

.tbl-full,
.tbl-header,
.tbl-content,
.tbl-empty {
    max-height: 0;
}

.tbl-empty.visible {
    display: block;
}

.tbl-full.visible,
.tbl-header.visible,
.tbl-content.visible,
.tbl-empty.visible {
    max-height: 400px;
    transition: max-height 0.5s ease-in;
}

.tbl-content table {
    margin-top: 0;
    margin-bottom: 0;
    border-spacing: 0;
}

.tbl-content table tbody tr {
    border-bottom: 1px solid #ddd;
}

.tbl-content table tbody tr:last-child {
    border-bottom: none;
}

th {
    padding: 20px 15px;
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.01);
}

td {
    padding: 15px;
    vertical-align: middle;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.invitation-accept-btn,
.invitation-reject-btn {
    margin: 5px;
}

.invitation-accept-btn {
    color: greenyellow;
}

.invitation-reject-btn {
    color: orangered;
}