.navbar {
    position: sticky;
    width: 100%;
    top: 0;
    background-color: grey;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 1rem;
    z-index: 1;
}

.navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 0.6rem;
}

.navbar a {
    text-decoration: none;
    height: 100%;
    width: 132px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .25rem;
}

.navbar li {
    background-color: #666;
    border-radius: 25px 5px;
}

.navbar li:hover {
    background-color: #444;
}