.patients-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.invite-section {
    position: absolute;
    top: 11.5%;
    right: 1.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 300px;
    height: 130px;
    padding: 0.5em;
    margin: 0.1em;
    border: 2px solid var(--border-color);
    border-radius: 20px;
    background-color: var(--section-bg-color);
}