.SignUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign-up-card {
    background-color: #5A5A5A;
    border-radius: 20px;
    height: 100%;
    width: 20vw;
    min-width: 280px;
    padding: 10px;
}

.sign-up-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-bottom: 40px;
}

label {
    align-self: start;
}

.sign-up-input {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input {
    padding: 5px;
    border-radius: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 0.3);
}

.sign-up-button {
    width: 40%;
    max-width: 100px;
    margin-top: 5px;
}

.sign-up-back-button {
    width: 30%;
    max-width: 100px;
    margin-top: 10%;
}

.regex {
    font-size: 80%;
    font-weight: 600;
    text-align: left;
}